body{
    font-family: 'Raleway', sans-serif;
}
.font-size{
    font-size: 18px;
    margin-top:5px;
}
.main-font-size{
    font-size: 21px;
    margin-right:20px;
    margin-top:5px;
}
.bg{
    height:60px;
}
#frst-img{
 z-index:1;
 width:100%;
}
#s1{
    height:1300px;
}
#qhepslogo{
    z-index:2;
    margin-top:0px;
    
}
#campus-life{
    height:800px;
}
#img-play{
    float:right;
    margin-top:0px;
}
